{% extends "layouts/main-layout.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <h2><a href="#">HW4</a></h2>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="menu">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/profile/">Profile</a></li>
                                {% block header_buttons %}{% endblock %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        {% block page %}
        {% endblock %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bg">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="footer-menu">
                                        <ul>
                                            <li class="active"><a href="/">Home</a></li>
                                            <li><a href="/profile/">Profile</a></li>
                                            {% block footer_buttons %}{% endblock %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="footer-icon">
                                        <p><a href="https://github.com/myauka"><i class="fa fa-github" aria-hidden="true"></i></a>
                                            <a href="https://www.linkedin.com/in/roman-orlov-632887212/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% block loadfiles %}
    <script src="{% static 'js/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/active.js'%}"></script>
    {% endblock %}
{% endblock %}