{% extends "layouts/header-footer-layout.html" %}


{% block title %}Your profile{% endblock %}

{% block header_buttons %}
    <li><a href="/profile/create_post/">Create post</a></li>
    <li><a href="/profile/logout/">Logout</a></li>
{% endblock %}

{% block footer_buttons %}
    <li><a href="/profile/create_post/">Create post</a></li>
    <li><a href="/profile/logout/">Logout</a></li>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        <h3 align="center">Your posts</h3>
    </div>
    <section class="blog-post-area">
        <div class="container">
            <div class="row">
                <div class="blog-post-area-style">
                {#TODO: fix view#}
                    {% for post in object_list %}
                        <div class="col-md-3">
                            <div class="single-post">
                                <h3><a href="/post/{{ post.slug }}">{{ post.title }}</a></h3>
                                <p>{{ post.text }}</p>
                                <h4><span>{{ post.created_at }}</span></h4>
                                <h4><span>
                                    <a href="{{ post.get_absolute_url }}">Update</a>
                                    </span></h4>
                                <h4><span>
                                    <a href="/delete/{{ post.slug }}/{{ post.pk }}">Delete</a>
                                    </span></h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div><br><br>
    </section>
{% endblock %}
