{% extends "layouts/header-footer-layout.html" %}
{% load static %}

{% block title %}Post page{% endblock %}

{% block page %}
    <section class="single-blog-area">
            <div class="container">
                <div class="row">
                   <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>{{ object.title }}</h2>
                                <div class="for-style">
                                    <p>{{ object.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block loadfiles %}
    <script src="{% static 'js/isotope.pkgd.js' %}"></script>
{% endblock %}

